{% load staticfiles %}

{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/pages.css" %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #000">

    <a href="{% url 'homepage' %}" class="nav navbar-nav navbar-left" style="margin-left: 20px; margin-top: 10px">
        <div class="logo-img"></div>
        <div class="logo-name">Доставим Все</div>
    </a>
{% if request.user.is_authenticated  %}
    <div class="nav navbar-nav navbar-right" style="margin-right: 50px; margin-top: 10px">
        <a href="{% url 'login:logout' %}" class="btn btn-logout">Выйти</a>
    </div>
{% else %}
    <div class="nav navbar-nav navbar-right" style="margin-right: 50px; margin-top: 10px">
        <a href="{% url 'login:login' request.get_full_path %}" class="btn btn-logout">Войти</a>
    </div>
    <div class="nav navbar-nav navbar-right" style="margin-right: 20px; margin-top: 10px">
        <a href="{% url 'login:register' request.get_full_path %}" class="btn btn-logout">Зарегистрироваться</a>
    </div>
{% endif %}
</nav>
<div class="main_container">
    {% block body %}
    {% endblock %}
</div>  
</body>
</html>
