{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}

<div class="create-container">
<form action="{% url 'set_start' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{ order_id }}>
        <p>
            <input type="number" step="1" name="location" class="form-control" style="width:50%; float: left; margin-right: 10px;">
            <input class="btn btn-primary" type="submit" value="Начало пути">
        </p>
    </form>

    <form action="{% url 'set_finish' %}" method="post" class="form-group">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{ order_id }}>
        <p>
            <input type="number" step="1" name="location" class="form-control" style="width:50%; float: left; margin-right: 10px;">
            <input class="btn btn-primary" type="submit" value="Конец пути">
        </p>
    </form>
    <div class="paragraph">Оптимизация</div>
        <form action="{% url 'set_criteria' %}" method="post" class="form-group">
            {% csrf_token %}
            <input type="hidden" name="order_id" value={{ order_id }}>
            <label style="margin-right: 30px;"> <input type="radio" name="criteria" value="0" class="form-control"> Время</label>
            <label style="margin-right: 30px;"> <input type="radio" name="criteria" value="1" class="form-control">Стоимость</label>
            <input class="btn btn-primary" type="submit" value="Оптимизировать">
        </form>

    <div class="paragraph">Товары</div>
    <form action="{% url 'add_item' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{ order_id }}>
        <p>
            <input type="number" step="1" name="item_id" class="form-control" style="width:50%; float: left; margin-right: 10px;">
            <input class="btn btn-primary" type="submit" value="Добавить">
        </p>
    </form>

    <form action="{% url 'delete_item' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{ order_id }}>
        <p>
            <input type="number" step="1" name="item_id" class="form-control" style="width:50%; float: left; margin-right: 10px;">
            <input class="btn btn-primary" type="submit" value="Удалить">
        </p>
    </form>

    <form action="{% url 'build_route' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{ order_id }}>
        <p>
            <input class="btn btn-great" type="submit" value="Построить путь">
        </p>
    </form>

    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{ order_id }}>
        <p>
            <input class="btn btn-great" type="submit" value="Удалить заказ">
        </p>
    </form>
    <!-- <a href="{% url 'delete' %}" class="btn btn-great">Удалить</a> -->
</div>

<div class="create-container" style="font-size: 16px;">
        <p>
            <b style="color: #5378FF;"" >Критерий :</b> {{criteria }}<span style='padding-left:30px;'> </span>
            <b style="color: #5378FF;">Начало :</b> {{ start }} <span style='padding-left:30px;'> </span>
            <b style="color: #5378FF;">Конец :</b> {{ finish }}
        </p>
        
        <p>
            <b style="color: #5378FF;"> Добавленные товары :</b> {{ items }}
        </p>

        {% if route %}
        <p>

            <b style="color: #5378FF;">Построенный путь :</b> 
            <div class="route-img" style="background-image: url('../static/img/{{order_id}}.png'"></div>                
        </p>
        <p> <b style="color: #5378FF;"> Стоимость ($) :</b> {{ cost }}</p>
        <p> <b style="color: #5378FF;"> Время (дни) :</b> {{ time }}</p>
        {% endif %}


<!--         <p>
            Items pool : {{ pool }}
        </p>

 -->
        

        <!-- <a href="{% url 'launch' %}" class="btn btn-great"></a> -->

        <form action="{% url 'launch' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_id" value={{ order_id }}>
            <p>
                <input class="btn btn-great" type="submit" value="Запустить заказ">
            </p>
        </form>
 </div>


{% endblock %}
