{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block body %}

{% if request.user.is_authenticated  %}
    {% if is_courier %}
    <div class="btns-container" style="width:60%">
        
        <a href="{% url 'move' %}" class="btn btn-main hvr-ripple-out">Move order</a>
        
        <a href="{% url 'fail' %}" class="btn btn-main hvr-ripple-out">Report fail</a>

        
    </div>
    {% else %}
    <div class="btns-container">
        <a href="{% url 'create' %}" class="btn btn-main hvr-ripple-out">Создать заказ</a>
        
        <a href="{% url 'track' %}" class="btn btn-main hvr-ripple-out">Отследить заказ</a>

        <a href="{% url 'lookup' %}" class="btn btn-main hvr-ripple-out">Мои заказы</a>

        <!-- <a href="{% url 'configure' %}" class="btn btn-main hvr-ripple-out">Настроить заказ</a> -->

<!--         <a href="{% url 'delete' %}" class="btn btn-main v">Удалить</a>

        <a href="{% url 'launch' %}" class="btn btn-main hvr-ripple-out">Запустить заказ</a>
 -->    </div>
    {% endif %}
{% endif %}

{% endblock %}